* {
  margin: 0;
  padding: 0;
}

body, html { 
  display: grid;
  min-height: 100dvh;
}

.container {
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 4fr;
  gap: 4px;
}

.container div {
  padding: 15px;
  font-size: 32px;
  font-family: Helvetica;
  font-weight: bold;
  color: white;
}

.header {
  background-color: #393f4d;
  display: grid;
  grid-template-columns: 2fr 3fr;
  grid-row: 1;
  grid-column: 1 / -1;
  text-align: left;
}

.menu ul,
.menu li {
  font-size: 16px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(4, minmax(140px, 1fr));
}

.sidebar {
  background-color: #C50208;
  display: grid;
  grid-row: 2 / 4;
  grid-column: 1;
  gap: 50px;
}

.sidebar .photo {
  background-color: white;
  color: black;
  font-size: 12px;
  font-weight: normal;
  border-radius: 10px;
  place-content: center;
}


.sidebar .side-content {
  background-color: white;
  color: black;
  font-size: 16px;
  font-weight: normal;
  place-content: center;
}

.nav {
  background-color: #C50208;
  grid-row: 2;
  grid-column: 2 / -1;
}

.nav ul {
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
}

.nav ul li {
  font-size: 16px;
  text-transform: uppercase;
}

.article {
  background-color: #bccbde;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 15px;
  grid-auto-rows: 200px;
}

.article p {
  font-size: 18px;
  font-family: sans-serif;
  color: white;
  text-align: left;
}

.article .card {
  background-color: #FFFFFF;
  color: black;
  text-align: center;
}

.card p {
  color: black;
  font-weight: normal;
  font-size: 14px;
}

.card .title {
  font-size: 18px;
  text-align: center;
  padding: 10px;
}

.footer {
  background-color: #393f4d;
  display: grid;
  grid-row: 4;
  grid-column: 1 / -1;
}

.footer p {
  font-size: 13px;
  font-weight: normal;
}